In [1]:
import pandas as pd
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

label_encoder_gender=LabelEncoder()
df["Gender"]=label_encoder_gender.fit_transform(df["Gender"])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#one hot encoding "geography"

onehot_encoder_geo=OneHotEncoder(handle_unknown="ignore")
geo_encoded=onehot_encoder_geo.fit_transform(df[["Geography"]]).toarray()
encoded_dataframe=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
encoded_dataframe

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [5]:
df=pd.concat([df.drop("Geography",axis=1),encoded_dataframe],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [6]:
x=df.drop("EstimatedSalary",axis=1)
y=df["EstimatedSalary"]

In [7]:
## train and testing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
# standardscaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [9]:
##save models
import pickle
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)
    
with open("onehot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [10]:
#first method

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#build the model
model=Sequential(
    [
        Dense(64,activation="relu",input_dim=(x_train_scaled.shape[1])),
        Dense(32,activation="relu"),
        Dense(1)
    ]
)
model.compile(loss="mean_absolute_error",optimizer="adam",metrics=["mae"])
model.summary()

c:\Users\Gopal Sharma\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [11]:
#second method


# from tensorflow.keras.models import Sequential 
# from tensorflow.keras.layers import Dense,Dropout

# #defining the ann model
# model=Sequential()

# #input layer
# model.add(Dense(68,activation="relu",input_dim=x_train_scaled.shape[1]))

# #hidden layer
# model.add(Dense(32,activation="relu"))
# model.add(Dense(24,activation="relu"))
# model.add(Dense(22,activation="relu"))

# #output layer
# model.add(Dense(1))

# #compile our model
# model.compile(loss="mean_absolute_error",optimizer="adam",metrics=["mae"])
# model.summary()

In [12]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir=r"regressionlogs"+ datetime.datetime.now().strftime("%y%m%d-%H%M%S")

tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
#set up Earlystopping
early_stopping=EarlyStopping(
    monitor="val_loss",
    patience=10,
    restore_best_weights=True
)

history = model.fit(
    x_train_scaled,y_train,
    validation_data=(x_test_scaled,y_test),
    epochs=50,
    callbacks=[early_stopping,tensorboard_callback]
    )

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 99473.4141 - mae: 99473.4141 - val_loss: 98491.3750 - val_mae: 98491.3750
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 100775.1875 - mae: 100775.1875 - val_loss: 96823.9219 - val_mae: 96823.9219
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97242.6484 - mae: 97242.6484 - val_loss: 92603.9844 - val_mae: 92603.9844
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 92825.9062 - mae: 92825.9062 - val_loss: 85616.0703 - val_mae: 85616.0703
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 84523.0078 - mae: 84523.0078 - val_loss: 76807.5234 - val_mae: 76807.5234
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 76247.1562 - mae: 76247.1562 - val_loss: 67908.8594 - val_mae: 67908.8594
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 66218.7031 - mae: 66218.7031 - val_loss: 60337.2695 - val_mae: 60337.2695
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59597.6250 - mae: 59597.6250 - val_loss: 55239.1445 - val_mae: 55239.1445
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 54395.4766 - mae: 54395.4766 - val_loss: 52565.6250 - val_mae: 52565.6250
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51906.1094 - mae: 51906.1094 - val_loss: 51482.4727 - val_mae: 51482.4727
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50283.0859 - mae: 50283.0859 - val_loss: 51087.3242 - val_mae: 51087.3242
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50646.7656 - mae: 50646.7656 - val_loss: 50955.6680 - val_mae: 50955.6680
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50710.7227 - mae: 50710.7227 - val_loss: 50889.6406 - val_mae: 50889.6406
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50468.0508 - mae: 50468.0508 - val_loss: 50845.3750 - val_mae: 50845.3750
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49709.3516 - mae: 49709.3516 - val_loss: 50788.0039 - val_mae: 50788.0039
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50295.8398 - mae: 50295.8398 - val_loss: 50746.0938 - val_mae: 50746.0938
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50345.7109 - mae: 50345.7109 - val_loss: 50705.3828 - val_mae: 50705.3828
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50158.9102 - mae: 50158.9102 - val_loss: 50669.9922 - val_mae: 50669.9922
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49887.6914 - mae: 49887.6914 - val_loss: 50637.0586 - val_mae: 50637.0586
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50486.3867 - mae: 50486.3867 - val_loss: 50596.3828 - val_mae: 50596.3828
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49959.8086 - mae: 49959.8086 - val_loss: 50559.5781 - val_mae: 50559.5781
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49761.4883 - mae: 49761.4883 - val_loss: 50536.0859 - val_mae: 50536.0859
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50269.7617 - mae: 50269.7617 - val_loss: 50521.2891 - val_mae: 50521.2891
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49804.6602 - mae: 49804.6602 - val_loss: 50502.6094 - val_mae: 50502.6094
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49991.1523 - mae: 49991.1523 - val_loss: 50488.3828 - val_mae: 50488.3828
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50104.6250 - mae: 50104.6250 - val_loss: 50468.3438 - val_mae: 50468.3438
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50083.8789 - mae: 50083.8789 - val_loss: 50457.3867 - val_mae: 50457.3867
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50050.0000 - mae: 50050.0000 - val_loss: 50446.3750 - val_mae: 50446.3750
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49739.7969 - mae: 49739.7969 - val_loss: 50437.0312 - val_mae: 50437.0312
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49538.6445 - mae: 49538.6445 - val_loss: 50422.9805 - val_mae: 50422.9805
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49586.6523 - mae: 49586.6523 - val_loss: 50417.8047 - val_mae: 50417.8047
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49260.1445 - mae: 49260.1445 - val_loss: 50415.7461 - val_mae: 50415.7461
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49858.3750 - mae: 49858.3750 - val_loss: 50405.1133 - val_mae: 50405.1133
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49243.3242 - mae: 49243.3242 - val_loss: 50392.8711 - val_mae: 50392.8711
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49910.3984 - mae: 49910.3984 - val_loss: 50383.1992 - val_mae: 50383.1992
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50162.4141 - mae: 50162.4141 - val_loss: 50369.7266 - val_mae: 50369.7266
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49458.7227 - mae: 49458.7227 - val_loss: 50361.2266 - val_mae: 50361.2266
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49980.5195 - mae: 49980.5195 - val_loss: 50368.5977 - val_mae: 50368.5977
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49507.0977 - mae: 49507.0977 - val_loss: 50364.9688 - val_mae: 50364.9688
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49344.4297 - mae: 49344.4297 - val_loss: 50347.7656 - val_mae: 50347.7656
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49977.8281 - mae: 49977.8281 - val_loss: 50351.2617 - val_mae: 50351.2617
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49352.3906 - mae: 49352.3906 - val_loss: 50348.4961 - val_mae: 50348.4961
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49882.5430 - mae: 49882.5430 - val_loss: 50348.2695 - val_mae: 50348.2695
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49542.3320 - mae: 49542.3320 - val_loss: 50351.8555 - val_mae: 50351.8555
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49754.7070 - mae: 49754.7070 - val_loss: 50346.5273 - val_mae: 50346.5273
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49504.9648 - mae: 49504.9648 - val_loss: 50333.3398 - val_mae: 50333.3398
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49872.4414 - mae: 49872.4414 - val_loss: 50349.4492 - val_mae: 50349.4492
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49647.1562 - mae: 49647.1562 - val_loss: 50349.5195 - val_mae: 50349.5195
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50167.4062 - mae: 50167.4062 - val_loss: 50347.0312 - val_mae: 50347.0312
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49604.1055 - mae: 49604.1055 - val_loss: 50340.0117 - val_mae: 50340.0117

In [13]:
#evaluate model on test data
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f"Test MAE : {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1551679616.0000 - mae: 1551679616.0000
Test MAE : 1516236416.0

In [14]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.